.main-header{
    background-color: var(--background-tertiary-color);
    /* Faz com que as tags dentro deste elemento sejam distribuidas igualmente */
    display: flex;
    /* Define em qual direcao os elementos devem ser alinhados */
    flex-direction: row;
    /* Centrlizacao dos elementos, o between joga os elementos para as pontas com um espaco no centro */
    justify-content: space-between;
    /* Alinhamento dos elementos, flex-start alinha os elementos no inicio */
    align-items: flex-start;
    /* display flex com o padding ja gera o width eo height do .main-header, por conta disto nao usamos o width eo height para o .main-header */
    padding: 38px 48px;
    /* foi declarado para servir de referencia para o nav, caso contrario a referencia seria o body */
    position: relative;
}

/* tag a, é uma tag inline, por conta disto temos que passar um inline-block para ela  */

.logo {
    display: inline-block; 
    width: 68px;
    height: 64px;
}

.img-mobile {
    display: block;
}

.img-desktop {
    display: none;
}

.navigation-menu{
    margin-top: 24px;
}

/* ~ , é um seletor de irmandade */
input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav {
    /* esconde os elementos desta atag */
    display: none;
}

/* Esconde os marcadores de lista */
.list-links{
    list-style: none;
}

.list-links li{
    margin: 16px 0;
}

/* a classe com a tag li explicita que apenas os li dentro da classe list-links serao modificados */
.list-links li a{
    color: var(--text-secondary-color);
    /* tira o sublinhado */
    text-decoration: none;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .navigation-menu {
        margin-top: 0;
        width: 467px;
    }

    .navigation-menu label {
        display: none;
    }

    .navigation-menu nav{
        display: block;
    }

    .navigation-menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .navigation-menu li {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .main-header{
        padding: 38px 120px;
    }

    .logo {
        width: 260px;
        kerning: 64px;
    }

    .img-desktop{
        display: block;
    }
    
    .img-mobile {
        display: none;
    }

    .navigation-menu a:hover{
        color: var(--primary-color);
    }
}

@media screen and (min-width: 1920px) {
    .main-header {
        padding: 38px 160px;
    }
}